:root {
  --color-background: #dddddd;
  --color-main: #7695ec;
  --color-light-gray: #cccccc;
  --color-gray: #999999;
  --color-dark-gray: #777777;
  --color-dark-gray-apha: #77777780;
  --color-warning: #FF5151;
  --color-success: #47B960;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
label,
button,
input,
input::placeholder,
textarea,
textarea::placeholder,
span {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 700;
  font-size: 1.375rem;
}


@media (max-width: 800px){
  h1, h2{
    font-size: 1.1rem;
  }
}