.postCardWrapper .header{
    background-color: var(--color-main);
    border-radius: 16px 16px 0 0 ;
    padding: 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}

.postCardWrapper .header h2{
    width: 70%;
}

.postCardWrapper .content{
    padding: 25px;
    border-radius: 0 0 16px 16px;
    border: 1px solid var(--color-gray);
    border-top: none;
    font-size: 1.125rem;
}

.postCardWrapper .informationWrapper{
    display: flex;
    justify-content: space-between;
    color: var(--color-dark-gray);
    margin-bottom: 24px;
}

.postCardWrapper .informationWrapper p:first-child{
    font-weight: 700;
}

.postCardWrapper .actionsWrapper{
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: space-between;
}

.postCardWrapper .actionsWrapper img{
    cursor: pointer;
    height: 100%;
}


@media (max-width: 800px){
    .postCardWrapper .content{
        font-size: 0.9rem;
    }
}

@media (max-width: 530px){
    .postCardWrapper .informationWrapper{
        flex-direction: column;
    }
}