.returnToTopButtonWrapper{
    position: fixed;
    bottom: 5%;
    right: 20%;
}

.returnToTopButtonWrapper button{
    border-radius: 50%;
    padding: 16px;
    background-color: var(--color-dark-gray);
    border: none;
    color: white;
    cursor: pointer;
}

.returnToTopButtonWrapper button svg{
    fill: #fff;
}

.returnToTopButtonWrapper button:hover{
    opacity: 0.8;
}

@media (max-width: 1580px){
    .returnToTopButtonWrapper{
        right: 10%;
    } 
}


@media (max-width: 1210px){
    .returnToTopButtonWrapper{
        right: 5%;

    } 

    .returnToTopButtonWrapper button{
        padding: 8px;
    }
}