.errorWarningWrapper {
  position: fixed;
  top: 0;
  max-width: 800px;
  border-radius: 0 0 16px 16px;
  -webkit-box-shadow: 0px 2px 5px 0px var(--color-dark-gray-apha);
  -moz-box-shadow: 0px 2px 5px 0px var(--color-dark-gray-apha);
  box-shadow: 0px 2px 5px 0px var(--color-dark-gray-apha);
  width: 90%;
  transform: translateX(-50%);
  padding: 24px;
  color: #fff;
  background-color: var(--color-warning);
  text-align: center;
  font-weight: 700;
  animation: animation 700ms ease 0s 1 normal forwards;
}

.errorWarningWrapper span {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@keyframes animation {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.errorWarningWrapper.closeWarning{
  animation: closeAnimation 900ms ease 0s 1 normal forwards;
}

@keyframes animation {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}


@media (max-width: 530px){
  .errorWarningWrapper{
      width: 100%;
  }
}