.homePageWrapper{
    background-color: #fff;
    width: 90%;
    max-width: 800px;
}

.homePageWrapper main{
    padding: 24px;
}

.homePageWrapper main > div + div{
    margin-top: 24px;
}

.homePageWrapper .loadingAnimationWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 530px){
    .homePageWrapper{
        width: 100%;
    }

    .homePageWrapper main{
    padding: 8px;
    padding-bottom: 24px;
}
}